/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------- Général -------------- */

body{
	font-family: 'Roboto', sans-serif;
}

header{
	
}

h1{
	color:white;
	background: none;
	text-align:center;
	position:relative;
	top:-80px;
	font-size: 42px;
}

h2{
	font-size:45px;
	text-align:center;
	margin-top:70px;
	margin-bottom:70px;
	color:black;
}

form legend{
	font-size:38px;
	text-align:center;
	margin-top:60px;
	margin-bottom:40px;
	color:black;
}

h1#titreEmployeur{
	margin-bottom:20px;
}

div#content{
	padding:0;
}

div.paging{
	margin-bottom:30px;
}

div.message {
	color:white;
	background-color: #109d59;
}

/* -------------- Header -------------- */

header{
	padding:30px 40px 0 40px;
	background-color:#0086D4;
}

header #logo_cegep{
	position:absolute;
	top:50px;
	right:40px;
}


/* -------------- Nav -------------- */

nav{
	height:100px;
	border-bottom:3px solid #4387f6;
	width:100%;
}

nav a{
	text-decoration: none;
	color: black;
}

nav a:hover{
	color: black;
}

nav a:hover i{
	color:#008947;
}

nav .nav-1 {
	text-align:center;
	width:200px;
	position:relative;
	top:20px;
	left:18px;
	
}

nav .nav-2 {
	display: inline-flex;
	text-align:center;
	width:400px;
	position:relative;
	top:20px;
}

nav .nav-2 a:first-child {
	margin-right:25px;
	margin-left:25px;
}

nav a i{
	font-size:46px !important;
	margin-bottom:8px;
}

/* -------------- Formulaire -------------- */

form{
	width:40%;
	margin-left:auto;
	margin-right:auto;
}

form a{
	position:relative;
	top:48px;
	left:220px;
	color:red;
	text-decoration: none;
}

form label{
	margin-bottom:6px;
}

form a:hover{
	text-decoration: underline;
	color:red;
}

fieldset{
	margin-top:70px;
}

form .submit input[type=submit] {
	padding:10px 40px;
	background-color:#109d59;
	color:white;
	border:none;
}

form .submit input[type=submit]:hover{
	background-color:#008947;
} 

input[type=submit] {
	cursor: pointer;
}

/* -------------- Footer -------------- */

footer{
	padding:30px;
	text-align:center;
	background-color:#0086D4;
}

/* -------------- Index -------------- */

div.pagination {
	text-align:center;
	margin-top:40px;
}

/* -------------- Liste contact -------------- */

div.contact{
	text-align:center;
}

div.contact h3.erreurContact {
	font-size:22px;
	margin-bottom:100px;
	margin-top:-20px;
	color:black;
}

table.tContact{
	border:2px solid #4387f6;
	width:30%;
	display:inline-table;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:50px;
}

table.tContact td{
	width:50% !important;
	font-size:18px;
}

table.tContact tr, table.tContact td{
	border:3px solid #4387f6;
}

table.tContact tr.tActions td, table.tContact tr.tInfos td{
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
	font-size:20px;
}

table.tContact tr.tInfos td p{
	margin-bottom:20px;
}

table.tContact tr.tInfos td p:last-child{
	margin-bottom:0;
}

table.tContact tr.tPosteOccupe td {
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
}

table.tContact tr.tActions td {
	font-size:30px;
}

.tContact tr.tTitre td{
	background-color: #a2c2ff;
	text-align:center;
	padding-top:25px;
	padding-bottom:25px;
	font-size:20px;
}

table.tContact tr.rowDecoration {
	background-color:#a0c2ff;
}

table.tContact i {
	font-size:30px;
}

/* -------------- Éditer contact -------------- */

#ContactEditForm div.group, #ContactAddForm div.group{
	margin-left:-8px;
	position:relative;
	margin-bottom:-20px;
}

#ContactEditForm div.groupPrenom div:last-child, #ContactAddForm div.groupPrenom div:last-child{
	width:87%;
}

#ContactEditForm div.groupTel div:first-child, #ContactAddForm div.groupTel div:first-child{
	width:70%;
}

#ContactEditForm div.group .champPoste, #ContactAddForm div.group .champPoste {
	width:30%;
}

#ContactEditForm div.group .champPoste input[type=text], #ContactAddForm div.group .champPoste input[type=text]{
	height:34px;
}

#ContactEditForm div.group .champPoste, #ContactAddForm div.group .champPoste {
	position:absolute;
	top:0;
	right:-45px;
}

#ContactEditForm div.group .champTitre, #ContactAddForm div.group .champTitre {
	margin-left:-8px;
	margin-top:-8px;
}

#ContactEditForm div.group .champPrenom, #ContactAddForm div.group .champPrenom {
	position:absolute;
	top:0;
	right:-54px;
}

/* -------------- Éditer employeur -------------- */

#EmployeurEditForm div.groupProvince, #EmployeurAddForm div.groupProvince {
	position:relative;
	margin-left:-8px;
	margin-bottom: -18px;
}

#EmployeurEditForm div.group div, #EmployeurAddForm div.group div {
	width:45%;
}

#EmployeurEditForm div.group div:last-child, #EmployeurAddForm div.group div:last-child{
	position:absolute;
	top:7px;
	right:0;
}

/* -------------- Liste employeurs -------------- */

div.employeur #lblFormRecherche i{
	position:relative;
	top:5px;
}

div.employeur table tr:nth-child(even) {
	background-color: white;
}

div.employeur table thead{
	background-color: #4387f6;
}

div.employeur table thead th {
	color:black;
}

div.employeur td.grand {
	width:35%;
}

div.employeur td.moyen{
	width:20%;
}

div.employeur td.petit {
	width:10%;
}

div.employeur table thead th a{
	color:black;
}

div.employeur table thead th a:hover{
	text-decoration: underline;
	color:black;
}

div.employeur table thead tr th {
	padding-top:20px;
	padding-bottom:15px;
	padding-left:10px;
}

div.employeur table thead tr th i {
	position:relative;
	left:8px;
	top:3px;
}

div.employeur table thead tr th a {
	margin-top:-14px;
}

div.employeur table{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:50px;
}

div.employeur i{
	font-size:24px;
	margin-right:12px;
}

div.employeur td.fleche i{
	font-size:16px;
	margin-left:8px;
	margin-right:10px;
}

div.employeur i:last-child {
	margin-right:5px;
}

a.ok i{
	color: #109d59;
}

a.ok i:hover{
	color: #008947;
}

a.sup i{
	color: #dd4337;
}

a.sup i:hover{
	color: #c03a30;
}

div.employeur tbody tr{
	border-bottom:2px solid #4387f6;
	cursor:pointer;
}

div.employeur tbody tr:hover{
	background-color:#a0c2ff;
}

div.employeur tbody tr:hover{
	background-color:#a0c2ff;
}

div.employeur .tOuvert{
	border-bottom: none;
}

div.employeur table .tableauCache{
	background-color: #dfdfdf !important;
	display:none;
	padding-top:10px;
}

div.employeur table .innactif{
	background-color: #dfdfdf !important;
}

div.employeur table .tableauCache p{
	margin-bottom:8px;
}

div.employeur table .tableauCache span{
	position:absolute;
	left:220px;
}

div.employeur table .tableauCache td{
	padding-top:15px;
	padding-bottom:10px;
}

div.employeur form#FormulaireAdminForm input[type=text]{
	width:65%;
	padding-left:40px;
}

div.employeur form#FormulaireAdminForm input[type=submit]{
	padding:11px 40px;
	background-color:#109d59;
	color:white;
	border:none;
	position:relative;
	top:-2px;
	left:20px;
	cursor: pointer;
}

div.employeur form#FormulaireAdminForm label#lblFormRecherche {
	position:relative;
	top:33px;
	left:10px;
	width:10px;
}

div.employeur form#FormulaireAdminForm input[type=submit]:hover {
	background-color:#008947;	
}

div.employeur form#FormulaireAdminForm {
	margin-bottom:40px;
	width:50%;
}

div.employeur .flecheActif{
	/* Safari */
	-webkit-transform: rotate(-180deg);
	
	/* Firefox */
	-moz-transform: rotate(-180deg);
	
	/* IE */
	-ms-transform: rotate(-180deg);
	
	/* Opera */
	-o-transform: rotate(-180deg);

}

div.employeur .btnActions a {
	margin-right:12px;
}





